* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
body {
    font-weight: 400;
    line-height: 1;
    font-family: 'DM Serif Display', serif;
    color: #12030a;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
.brand,
li {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 0.5rem;
    flex-wrap: wrap;
}
header ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
li {
    text-decoration: none;
    margin: 0 0.4rem;
}
header a:hover{
    color:#b01e68;
}
/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
    display: none;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 71%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    overflow-y: auto;
}
.bg-img {
    background-image: url(https://placehold.co/500x500);
}
.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}
.modal p {
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'DM Serif Display';
    font-weight: 400;
    margin-top: 2rem;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.even,
.odd {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.odd {
    flex-direction: row-reverse;
}
.one,
.two,
.three {
    flex-grow: 1;
    min-width: 20rem;
    height: 20rem;
    border: 0.1rem solid #12030a;
}

.three {
    flex-grow: 3;
}
.one {
    display: flex;
    align-items: center;
    line-height: 1.5;
    font-size: 1.3rem;
    font-family: 'DM Serif Display';
    font-weight: 400;
    padding-left: 1.4rem;
}
.two {
    background-image: url(https://images.unsplash.com/photo-1621932802533-e7894a493640?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}
/* MARQUEE */
.marquee {
    background: #ffcb46;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.marquee h1 {
    font-size: 10rem;
    display: inline-block;
    font-weight: 500;
    animation: animate 15s linear paused;
}
.marquee h1:hover {
    animation: animate 15s linear infinite;
}
.marquee {
    border-bottom: 0.1rem solid #0d0d0d;
}
@keyframes animate {
    100% {
        transform: translate(-100%, 0);
    }
}

/* QUERIES */
@media (min-width: 768px) {
  .brand,li{
    font-size: 2.5rem;
  }
    .even,
    .odd {
        flex-wrap: nowrap !important;
    }
    .modal {
        width: 76%;
    }
    .one {
        max-width: 20rem;
    }
    .overlay{
      height: 132%;
    }
}
@media (max-width: 700px) {
    /* .d-none {
        display: none;
    } */
    .modal {
        width: 53%;
        top: 63%;
    }
    .overlay {
        height: 375%;
    }
    .marquee h1 {
        font-size: 6rem;
    }
}

@media (max-width:339px){
  .overlay{
    height: 378%;
  }
}
.hidden {
    display: none;
}
/* scetion-colors */
.first .one {
    background-color: #f49d1a;
}
.first .three {
    background-color: #ffe15d;
}

.second .one {
    background-color: #dc3535;
}
.second .three {
    background-color: #b01e68;
}

.third .one {
    background-color: #ffe15d;
}
.third .three {
    background-color: #f49d1a;
}

.fourth .one {
    background-color: #b01e68;
}
.fourth .three {
    background-color: #dc3535;
}
header {
    background-color: #f7e9f0;
}
/* modal */
.person-first {
    background-color: #ffe15d;
}
.person-second {
    background-color: #b01e68;
}
.person-third {
    background-color: #dc3535;
}
.person-fourth {
    background-color: #dc3535;
}
/* a href */
header a,main a {
    text-decoration: none;
    color: #12030a;
}
/* *************** */
/* FOOTER */
/* **************** */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1rem solid #0d0d0d;
    border-bottom: 0.1rem solid #0d0d0d;
    background-color: #f7e9f0;
}
address{
    line-height: 2.4rem;
    font-size: 1.6rem;
}
footer li{
    list-style: none;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
.links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2rem;
}
.faq{
    margin-right: 3.5rem;
}
.links .faq a{
    text-decoration: none!important;
    color: #0d0d0d!important;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.8rem;
}
.fa {
  padding: 20px;
  font-size: 2rem!important;
  text-align: center;
  text-decoration: none;
  margin: 5px 14px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}
.fa-github {
  background: #555;
  color: white;
}
