* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,.nav-link,li {
    line-height: 1;
    font-weight: 400;
    color: #0d0d0d!important;
    font-family: 'Source Sans Pro',sans-serif;
}
p,header,footer{
    font-family: 'Source Sans Pro',sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Abril Fatface',cursive;
}
html,
body {
    height: 100vh;
}
/* ******************** */
/*HEADER*/
/* ******************** */
header{
    background-color: #ffffff;
    border: 0.1rem solid #0d0d0d;
}
.nav-link{
    font-size: 1.4rem;
}
.nav-link{
    margin: 0;
}
.nav-link:focus,.nav-link:hover{
    color: #ff81cc!important;
    text-decoration: overline;
}
/* ******************** */
/*HERO*/
/* ******************** */
.my-hero{
    background-color: #ff81cc;
    border-bottom: 0.1rem solid #0d0d0d;
}
.my-hero .lead{
    font-weight: 600;
}
.btn.btn-primary{
    background-color: #57ef97;
    color: #0d0d0d;
    font-weight: 500;
    border: 0.1rem solid #0d0d0d;
}
.btn.btn-outline-secondary{
    color: #0d0d0d;
    font-weight: 500;
    border: 0.1rem solid #0d0d0d;
}
.btn-primary:hover{
    background-color: #ffcb46!important;
    border-color: #0d0d0d!important;
    color: #0d0d0d!important;
}
.btn.btn-outline-secondary:hover{
    background-color: #ffffff!important;
    color: #0d0d0d!important;
    border-color: #0d0d0d!important;
}
/* ******************** */
/*HOBBIES*/
/* ******************** */
header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main {
    background-color: #555;
}
/* ******************** */
/* MARQUEEE */
/* ******************** */
.marquee {
    background: #ffcb46;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.marquee h1 {
    font-size: 4rem;
    padding-left: 100%;
    display: inline-block;
    animation: animate 10s linear infinite;
}
.marquee{
    border-bottom: 0.1rem solid #0d0d0d;
}
@keyframes animate {
    100% {
        transform: translate(-100%, 0);
    }
}
/* ******************** */
/* MYSELF*/
/* ******************** */
.myself {
    display: flex;
    padding: 4rem;
    justify-content: center;
    gap: 3rem;
    background-color: #ffffff;
    border: 0.1rem solid #0d0d0d;
    border-top: 0;
    border-bottom: 0;
}
.intro-para {
    text-align: center;
    background-color: white;
    border-radius: 1.35rem;
    border: 0.1rem solid #0d0d0d;
    padding: 2rem;
    border-right: 0.6rem solid #0d0d0d;
    border-bottom: 0.6rem solid #0d0d0d;
}

.myself img{
    border-radius: 50%;
    border: 0.1rem solid #0d0d0d;
}
@media (max-width: 48em) {
    .myself {
        flex-wrap: wrap;
    }
}
/* ******************** */
/* SKILLS*/
/* ******************** */
.skills h2 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.6rem;
}
.skills .feature.col {
    border: 0.1rem solid black;
    border-radius: 0.25rem;
    background-color: palevioletred;
    border-top: 0.6rem solid #0d0d0d;
    border-left: 0.6rem solid #0d0d0d;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: min-content;
}
.skills.container {
    border: 0.1rem solid #0000;
    background-color: white;
    border-radius: 1.35rem;
    margin-top: 5rem;
    margin: 0 !important;
    border: 0.1rem solid black;
}
.skills .row {
    gap: 2rem;
    justify-content: center;
}
.skills .skill-set {
    margin-top: 2rem;
}
.outer-skills {
    height: auto;
    padding: 4rem;
    background-color:#ffcb46;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid black;
    border-bottom: 0;
}
.skills-icon{
    width: 62px;
    height: 62px;
    fill: #57ef97;
    stroke: #0d0d0d;
    margin: 0.6rem
    }
.heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
}
.skills li{
    font-weight: 600;
    margin: 1.4rem;
    font-size: larger;
}
.skills li{
    list-style:none;
}
.skills ul{
    padding: 0;
}
.skill .border-bottom {
    border-bottom: 3px solid #0d0d0d!important;
}
@media (min-width: 992px) {
    .row-cols-lg-3 > * {
        width: 30% !important;
    }
}
@media (max-width: 768px){
    .hobbies-second{
        top: -2%!important;
    }
}
@media (max-width: 576px){
    .outer-skills{
    padding:4rem 0 !important;
    }
    .skills-icon{
        margin: 0.1rem;
    }
    .heading-container{
        margin: 0.6rem;
    }
}
/* ******************** */
/* WORK CAROUSEL*/
/* ******************** */
.card-wrapper {
    display: flex;
    justify-content: center;
}
.container-fluid.my-work h1 {
    text-align: center;
    font-size: 3rem;
}
.container-fluid.my-work .card{
    border-left: 0.6rem solid #0d0d0d;
    border-bottom: 0.6rem solid #0d0d0d;
}
.container-fluid.my-work .card,
.container-fluid.my-work .card img {
    border-radius: 1.25rem;
}
.my-work h3 {
    text-align: center;
    font-size: 2rem;
    color: #0d0d0d;
}
.container-fluid.my-work {
    background-color:#ff81cc;
    padding: 2rem!important;
    height: auto;
    display: flex;
    /* margin: 9rem 0; */
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    border: 0.1rem solid black;
}
.card{
    background-color: red;
    border: 0.6 rem solid #0d0d0d;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 4rem!important;
    border: 0.1rem solid #0d0d0d;
    height: 4rem!important;
    background-color: #57ef97 ;
    border-radius: 50%;
}
.my-work-title {
    background-color: #ffffff;
    border-radius: 1.35rem;
    border: 0.1rem solid #0d0d0d;
    margin-bottom: 4rem;
    padding: 2rem;
}
.carousel-inner .col{
    display: flex;
    justify-content: center;
}
/* ******************** */
/*HOBBIES*/
/* ******************** */
main{
    background-color: #ffcb46;
}
.hobbies.container {
    border-radius: 1.35rem !important;
    position: relative;
    z-index: 3;
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
    padding: 2rem;
}
.hobbies.container .row {
    justify-content: center;
}

.hobbies-second,
.hobbies-third {
    position: absolute;
    height: 100%;
    top: -2%;
    z-index: -1;
    border-radius: 1.35rem;
    border: 0.1rem solid #0d0d0d;
    background-color: #ffffff;
}

.hobbies .row.p-5{
    border: 0.1rem solid #0d0d0d;
}
.hobbies .row {
    background-color:#ff81cc;
    position: relative;
    left: 2.2%;
    border-radius: 1.35rem;
}
.hobbies-second {
    left: -2%;
    top: -4%;
    border-top: 0.6rem solid #0d0d0d;
    border-left: 0.6rem solid #0d0d0d;
}
.hobbies-third {
    left: 1%;
    top: -0.6%;
}
.align-items-center {
    gap: 3.5rem;
}

main.container-fluid {
    padding: 0 !important;
}

/* *************** */
/* FOOTER */
/* **************** */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1rem solid #0d0d0d;
    border-bottom: 0.1rem solid #0d0d0d;
}
footer li{
    list-style: none;
    font-weight: 700;
    margin-bottom: 2rem;
}
.links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2rem;
}
.faq{
    margin-right: 3.5rem;
}
.links .faq a{
    text-decoration: none!important;
    color: #0d0d0d!important;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.8rem;
}
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 14px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}
.fa-github {
  background: #555;
  color: white;
}
