@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.bg-body-tertiary{
    background-color: #edf2ff!important;
    padding:2rem;
    padding-bottom: 0;
    padding-top: 1.4rem;
}
body{
    font-size: 62.5%;
    background-color: #edf2ff; 
    font-family: 'Aleo', serif;
    line-height:1;
}

 .hero.container-fluid{
    margin-top: 2rem;
    background-color: red;
    max-width: 97%;
    max-height: 35rem;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.hero-overlay{
    position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, rgba(7,79,58,35), rgba(230,252, 245, 35));
        opacity: 0.6;
}
.hero-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#172326;
    text-align: center;
    background: linear-gradient(0deg, rgba(128, 163, 153, 0.2879202706473214) 6%, rgba(237, 242, 255, 0.5316177496389181) 58%);
    padding: 4rem;
}

/* 
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0));
    opacity: 0.8;
}

.hero-overlay-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-overlay-text h1 {
    font-size: 4rem;
} */
.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}
/* cards */
.carousel-card{
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #96f2d7;
    background-color: #d0ebff;
    padding: 2rem;
}
.card{
    margin: 0.5rem;
}

.carousel-card .carousel-control-next,.carousel-card .carousel-control-prev{
    height: 15%;
    top: 172px;
}
.carousel-card .carousel-control-prev-icon,.carousel-card 
.carousel-control-next-icon{
    border-radius: 50%;
    padding: 1.7rem;
    background-color: #0ca678;
    background-size: 2.5rem;
    top: 50%;
    transform: translateY(-50%)
}
.carousel-card .btn-primary{
 background-color: #f1f3f5;   
 color: #555;
}
.carousel-card .btn-primary:hover {
    background-color: #d6336c;
}
.card{
    background-color: #0ca678;
    background-color: #099268;
    color: #f1f3f5;
}
/* .carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
} */
/* .place */
.img-plc{
    max-width: 100%;
    max-height: 100%;
    background-color: red;
}
.place.container-fluid{
margin-top: 6rem;
margin-bottom: 6rem;
background-color:#e7f5ff;;
}
.banner{
    padding: 0;
    margin-bottom: 2rem;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(7, 79, 58, 35), rgba(230, 252, 245, 35));
    opacity: 0.6;
    z-index: 1;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 2;
}
.place-text{
   text-align: left;
   margin-top: 5%;
}

.places-container.container{
    width: 100%;
}
.row>*{
    max-width: 50%;
}

/* TYPOGRAPHY */

/* HERO */
.hero-overlay-text h1 {
    font-size: 3.6rem;
    font-weight: 570;
    letter-spacing: -0.1rem;
    line-height: 0.9;
    color: #021912;
}
.gems{
    color: #d6336c;
    font-style: italic;
}
/* CAROUSEL CARD */
.card-title{
    font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
}
.carousel-card .btn-primary{
    font-size: 1.2rem;
        color: #edf2ff;
        background-color: #f06595;
        font-weight: 400;
        font-style: italic;
}

/* PLACES */
/* BANNER */
.text-white{
    font-size: 3.6rem;
}
.place h2{
    margin-bottom: 3.2rem;
}
.even-plc{
    text-align: right;
}
.place h2 {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    letter-spacing: -2px;
    color: #d6336c;
    font-weight: 600;
}
.place p{
    font-size: 1.4rem;
    line-height: 1.5;
}
.navbar-brand,.bg-body-tertiary,.nav-link{
    font-size:1.6rem;
    font-weight: 400;
    color: #033324;
}
.navbar-brand{
    color:#d6336c;
    font-weight: 600;
}
.nav-link:hover{
    color: #d6336c;
    text-decoration: underline #d6336c;;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    color: #000000!important;
    font-weight: 500;
}
footer li {
    list-style: none;
    margin-bottom: 2rem;
}
.footer .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    justify-items: center;
    
}
.faq {
    margin-right: 3.5rem;
}
.links .faq a {
    text-decoration: none !important;
    color: #000000!important;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.8rem;
}
.fa {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    margin: 5px 14px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}
.fa-github {
  background: #555;
  color: white;
}

address{
    line-height: 1.4rem;
}

@media (max-width:1000px){
    .d-flex{
        flex-direction: column;
    }
        .carousel img .w-100 {
            width: 89% !important;
        }
    .navbar-nav{
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (min-width:1100px){
    .carousel img .w-100 {
            width: 89% !important;
        }
    .place p{
        font-size: 2.6rem;
        line-height: 1.5;
    }
}
@media (max-width: 770px){
    .hero-overlay-text h1{
        font-size: 2.6rem;
    }
    .hero-overlay-text{
        width: 70%;
        height: 40%;
        padding: 2rem;
    }
    .text-white{
        font-size: 2rem;
    }
    .place h2,footer{
        font-size: 1.2rem;
        margin-bottom:1rem;
    }
    .place p{
        font-size: 1.4rem;
    }
}
@media (max-width: 670px){
    .hero-overlay-text {
        padding: 1rem;
    }
    .text-white {
        font-size: 1.6rem;
    }
    .place p {
        font-size: 1.2rem;
    }
}
@media (max-width:520px){
    .hero-overlay-text {
        padding: 1rem;
        top: 40%;
        height: 55%;
    }
    .hero-overlay-text h1 {
        font-size: 1.6rem;
    }
    .text-white {
        font-size: 1.4rem;
    }
    .place h2,footer {
        font-size: 0.6rem;
        letter-spacing: 0rem;
    }
        .navbar-brand,
        .bg-body-tertiary,
        .nav-link {
            font-size: 1rem;
        }
        .place p {
            font-size: 0.5rem;
        }

}
@media (max-width:320px){
    .place h2,footer{
    font-size: 0.6rem;
        margin-bottom: 1rem;
        letter-spacing: 0rem;
    }
    .place p {
        font-size: 0.4rem;
    }
}