* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    line-height: 1;
    font-weight: 400;
}
main {
    background-color: #555;
}
/* ******************** */
/* MARQUEEE */
/* ******************** */
.marquee {
    background: violet;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.marquee h1 {
    font-size: 5rem;
    font-family: verdana;
    padding-left: 100%;
    display: inline-block;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    100% {
        transform: translate(-100%, 0);
    }
}
/* ******************** */
/* MYSELF*/
/* ******************** */
.myself {
    display: flex;
    padding: 4rem;
    justify-content: center;
}
.intro-para {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
@media (max-width: 48em) {
    .myself {
        flex-wrap: wrap;
    }
}
/* ******************** */
/* SKILLS*/
/* ******************** */
.skills h2{
    text-align: center;
}
.skills .feature.col {
    border: 0.1rem solid black;
    border-radius: 1.25rem;
    background-color: palevioletred;
}
.skills.container {
    border: 0.1rem solid #0000;
    background-color: white;
    border-radius: 1.35rem;
}
.skills .row {
    gap: 2rem;
    justify-content: center;
}
.skills .skill-set {
    margin-top: 2rem;
}
@media (min-width: 992px) {
    .row-cols-lg-3 > * {
        width: 30%!important;
    }
}
/* ******************** */
/* WORK CAROUSEL*/
/* ******************** */
.card-wrapper {
    display: flex;
    justify-content: center;
}
.container-fluid.my-work {
    background-color: red;
    padding: 2rem;
    margin: 2rem 0;
}
.container-fluid.my-work h1 {
    text-align: center;
}
.container-fluid.my-work .card,
.container-fluid.my-work .card img {
    border-radius: 1.25rem;
}
.my-work h3{
  text-align: center;
  margin-bottom: 2rem;
}
/* ******************** */
/*HOBBIES*/
/* ******************** */
.hobbies.container {
    margin-bottom: 0 !important;
    border: 1.35rem;
}
.hobbies.container .row{
  justify-content: center;
}
